procrastinate==0.27.0
pydantic==1.10.9
pyyaml==6.0
sqlalchemy[asyncio]==2.0.17
asyncpg==0.27.0
pydash==7.0.4
ujson==5.8.0
# TODO add pnytter latest version
lxml==4.9.2
python-dateutil==2.8.2
waybackpy==3.0.6
