pydantic==2.11.9
pyyaml==6.0.2
httpx==0.28.1
beautifulsoup4==4.13.5
lxml==6.0.1  # extension for beautifulsoup4
ujson==5.11.0
motor==3.7.1  # mongodb async client
pytimeparse==1.1.8  # parse strings to timedelta
python-dateutil==2.9.0.post0  # parse strings to datetime
croniter==6.0.0  # Cron support
loguru==0.7.3
